.floating-visibility-button {
  position: absolute;
  left: 0px;
  top: 0px;
}
.floating-visibility-button.open {
  transform: translate(
    256px,
    0px
  ); /*Hardcoded - this is the width of the drawer*/
}
