.about-container {
  .ant-card {
    box-shadow: 3px 4px 22px -4px rgba(0, 0, 0, 0.46);
  }
  
  .about-tpl {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }

  .about-ds {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
  }

  .about-web {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
  }
}