.about-container {
  .background-image("/compare_screen_full.jpg");

  .home-btn {
    display: flex;
    width: fit-content;
    margin-left: auto;
  }

  .about-introduction {
    text-align: center;
    margin: 0 10% 0 10%;
    padding: 2% 3% 1% 2%;
    background-color: @white;
    opacity: .85;

    .intro-btns {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1%;
    }
  }

  .about-tpl-ds {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;

    @media @l-tablet, @tablet {
      flex-wrap: wrap;
    }

    .modal-button {
      margin-top: 7%;
    }
  }

  .about-web {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;

    @media @l-tablet, @tablet {
      flex-wrap: wrap;
    }

    .modal-button {
      margin-top: 7%;
    }
  }

  .ant-card {
    box-shadow: 3px 4px 22px -4px rgba(0, 0, 0, 0.46);

    @media @mobile {
      margin: 2% 0;
    }
  }
  
  //specific styling on certain cards when using media queries
  .Lyndsi, .Zack {
    @media screen and (max-width: 749px) {
      margin: 2% 0;
    }
  }
  .Rachele {
    @media @l-tablet, @tablet {
      margin: 2% 0;
    }
  }
}