.advanced-search-container {
  width: 80%;
  margin: auto;
}

.advanced-search-range-display {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-weight: 700;
}

//color of the bar--trying to figure out the hover (blue turns back to pinkish color when hovers)
// .ant-slider-handle {
//   border: 2px solid @blue;

//   .ant-slider-handle:hover {
//     border: 2px solid @blue;
//   }
// }

// .ant-slider:hover {
//   border-color: @red;
// }

// .ant-slider-track {
//   background-color: @blue;
// }