.advanced-search-container {
  width: 80%;
  margin: auto;
}

.advanced-search-range-display {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-weight: 700;
}

.search-result, span {
  font-size: 1.75rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 1%;
}

.add-to-compare-btn {
  width: 25px;
}



// color of the bar--trying to figure out the hover (blue turns back to pinkish color when hovers)
.ant-slider-handle {
  border: 2px solid @lightblue;

  .ant-slider-handle:hover {
    border: 2px solid @lightblue;
  }
}

.ant-slider:hover {
  border-color: @blue;
}

.ant-slider-track {
  background-color: @lightblue;
}