.advanced-search-container {
  width: 80%;
  margin: auto;
}

.advanced-search-range-display {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-weight: 700;
}

.search-result,
span {
  font-size: 1.75rem;
}

.filter-container {
  margin-top: 3%;
  
  & > * {
    margin: 0.5% 1%;
    &:first-child {
      margin-left: 0;
    }
  }
}

.add-to-compare-btn {
  width: 25px;
}

.cities-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 2% 0;

  @media @tablet, @mobile {
    width: 75%;
  }

  .city-name {
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      color: @primary-color;
    }
  }
}
