.comparison-container {
  // .background-image("/compare_screen_full.jpg");
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 6% 0;
}
.card {
  margin: 0 5%;
}
.comparison-card {
  width: 240px;
  .custom-image {
    width: 240px;
    height: 130px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    img {
      opacity: 0;
    }
  }
}
.more-info-btn {
  .button(95px, 32px, 1.4rem, @buttonBG-compare);
  border: 1px solid @buttonBG-compare;

  &:hover {
    background-color: @buttonBG-compare-hover;
    border: 1px solid @buttonBG-compare-hover;
  }
}
