.comparison-container {
  .background-image("/compare_screen_full.jpg");
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 6% 0;
}
.card {
  margin: 0 5%;
}

.more-info-btn {
  .button(95px, 32px, 1.4rem, @buttonBG-compare);
  border: 1px solid @buttonBG-compare;

  &:hover {
    background-color: @buttonBG-compare-hover;
    border: 1px solid @buttonBG-compare-hover;
  }
}

//for the tabs and the graphs
.metrics-container {
  width: 60%;
}

//tabs
.ant-tabs-nav-list{
  background: @white;
  border-radius: 2px;
}
//just the graphs
.graph-holder{
  display: flex;
  justify-content: center;
}