.comparison-container {
  .background-image("/compare_screen_full.jpg");
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
}
.card {
  margin: 0 5%;
}
