.city-page {
    display: flex;
    justify-content: center;
    .background-image("/compare_screen_full.jpg");
    // height: 100vh;
}

.city-details {
    border: 1px solid @white;
    width: 80%;
    margin: 3.5% 0 3.5% 0;
    border-radius: 2px;
    // background: @white;
    background: transparent;

}

.one-render-h3{
    font-size: 3.5rem;
}

.one-render-p {
    font-size: @par;
}

// .js-plotly-plot {
//     display: flex; //won't override the antd origin inline-block
//     justify-content: center;
// }
