.home-container {
  .background-image("/splash_screen_full.jpg");
  height: 100vh;
}

.title-card {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: @white;
  opacity: 0.85;
}

.ant-card-body {
  padding: 25px 30px;
}

h1 {
  font-size: @h1size;
  font-weight: 700;
  margin: -20px 0 -20px 0;

  @media @tablet {
    font-size: @tabh1;
  }

  @media @mobile {
    font-size: @mobh1;
  }
}

h2 {
  font-size: @h2size;
  font-weight: 300;
  font-style: italic;
  margin-bottom: -10px;

  @media @mobile {
    font-size: @mobh2;
  }
}

.bullet-points {
  font-size: @h3size;
  line-height: 1.5;
  text-align: left;

  @media @tablet {
    display: none;
  }
}
//Get Started button
.GSbutton {
  .button(125px, 35px, 1.75rem, @buttonBG-main);
}
