//For all Mixins
.background-image(@url){
    background: url('@{url}') center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }

.button(@width, @height, @text, @button-color){
    background-color: @button-color;
    color: @white;
    width: @width;
    height: @height;
    font-size: @text;
    font-weight: bolder;
    outline:none;
}
