//For all Mixins

.button(@width, @height, @text){
    background-color: @button-bg;
    color: @white;
    width: @width;
    height: @height;
    font-size: @text;
    // border-radius: 10px;
    font-weight: bolder;
    // margin: 2% 0 0;
    outline:none;
}

.background-image(@url){
    background: url('@{url}') center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height:100vh;
  }