.rental-price-tab {
  color: green;
  font-size: @h3size;
}
.housing-pane {
  display: flex;
  align-items: center;
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0px;
  }
  .ant-tabs-tab {
    padding: 5px 0px;
    margin: 0px 5px;
  }
}