//Color assignments
@buttonBG-main: @red;
@buttonBG-compare: @red;
@buttonBG-compare-hover: @lightred;
@bgColor: #fafafa;

//Colors
@blue: #057cd8;
@lightblue: #249df9;
@gold: #ffd700;
@orange: #e36242;
@lightorange: #ea8971;
@red: #de2817;
@lightred: #ee6559;
@paleyellow: #fee885;
@darkgrey: #777a66;
@lightgrey: #d2d4c9;
@white: #fff;

//Fonts and sizes
@Josefin: "Josefin Sans";
@h0size: 9rem;
@h1size: 7rem;
@h2size: 3rem;
@h3size: 3rem;
@h4size: 2rem;
@span: 2rem;
@par: 2rem;

//Tablet Font sizes
@tabh1: 6rem;
@tabh3: 2rem;

//Mobile Font sizes
@mobh1: 4rem;
@mobh2: 2rem;

//Escapes listed below

@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 400px)";
