//Color assignments


//Colors
@blue: #057CD8;
@gold: #FFD700;
@orange: #E36242;
@red: #EB4B3D;
@paleyellow: #FEE885;
@darkgrey: #777A66;
@lightgrey: #D2D4C9;

//Fonts
@h1size: 5rem;
@h2size: 4rem;
@h3size: 3rem;
@paSize: 2rem;
@Josefin: 'Josefin Sans';
// @bold: 700;

//Tablet Fonts


//Mobile Fonts


//Escapes listed below